.reviewTitle {
  text-align: center;
  margin-block: 20px;
  color: green;
}
.reviewContentWrapper {
  display: flex;
  gap: 40px;
  flex-direction: row-reverse;
}
.reviewImage {
  width: 20%;
}
.reviewContent {
  padding: 16px;
  border: 1px solid green;
  flex-grow: 1;
}
.reviewRating {
  font-weight: 700;
  margin-bottom: 10px;
}
.reviewRatingValue {
  margin-left: 10px;
  color: green;
}
.reviewDescription {
  color: silver;
}
